<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-5 ">
        <button *ngFor="let cityName of cityList" class="btn btn-success">
            {{cityName}}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray">
                {{emp.name}} - {{emp.city}}
            </option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Sr No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empoloyee of employeeArray; let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{empoloyee.name}}</td>
                    <td>{{empoloyee.city}}</td>
                    <td>{{empoloyee.contactNo}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>