<div class="row">
  <div class="col-3 p-4" [ngStyle]="{ 'background-color': divBckColor }">
    Div 1
  </div>
  
  <div class="col-3 p-4" [ngStyle]="{ 'background-color': isChecked ? 'teal': 'blue' }">
    Div 2
  </div>

  <div class="col-3 p-4" [ngStyle]="myCss">
    Div 3
  </div>
</div>

<div class="row">
  <div class="col-3 p-4">
    <button class="btn btn-success" (click)="editColorDiv('green')">
      Green
    </button>
    <button class="btn btn-danger" (click)="editColorDiv('red')">Red</button>
  </div>
  <div class="col-3">
    <input type="checkbox" [(ngModel)]="isChecked" />
  </div>
</div>
