<div class="row">
    <div class="col-3">
        <div class="bg-success p-3" *ngIf="div1Visable">Div 1</div>
        <button class="btn btn-success" (click)="showDiv1()">Показать Div1</button>
        <button class="btn btn-danger" (click)="hideShowDiv1()">Скрыть Div1</button>
        <button class="btn btn-primary" (click)="showHideDiv1()">Показать / Скрыть</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-danger">Hide</button>
        <button class="btn btn-success">Show</button>
    </div>
</div>


<div class="col-3">
    <div class="bg-success p-3" *ngIf="number1 === number2">Div 2</div>
    <div class="col-3">
    Введите цифры:<input type="text" [(ngModel)]="number1" />
    Повторите:<input type="text" [(ngModel)]="number2" />

    {{number1 == number2}}
    </div>
</div>